@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Shippori Antique', sans-serif;
}

html {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-height: fit-content;
    width: fit-content;
}

h1 {
    align-self: flex-start;
}

body > div {
    display: flex;
}

.vertical-line {
    height: 100%;
    border: black solid 1px;
}

.left-side,
.right-side {
    max-width: 30vw;
    padding: 10px;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}
