@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

:root {
    --light-grey: #6d6d6d;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Shippori Antique', sans-serif;
}

html {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-height: fit-content;
    width: fit-content;
}

h1 {
    align-self: flex-start;
}

body > h2 {
    align-self: flex-start;
    color: var(--light-grey);
}

body > div {
    display: flex;
}

.vertical-line {
    height: 100%;
    border: black solid 1px;
}

.left-side,
.right-side {
    max-width: 30vw;
    padding: 10px;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

a {
    text-decoration: none;
    color: var(--light-grey);   
    position: relative;
    width: fit-content;

    transition: ease-out 0.3s;
}

a:hover {
    color: black;
}

a::after {
    content: "";
    background-color: var(--light-grey);
    display: inline-block;
    
    width: 0;
    height: 2px;

    position: absolute;
    left: 0;
    bottom: 0;

    transition: ease-out 0.3s;
}

a:hover::after {
    width: 100%;
    background-color: black;
}

